@import "tailwindcss";

/* globals.css */

div {
    font-family: var(--font-inter), sans-serif;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.animate-slideIn {
    animation: slideIn 0.3s ease forwards;
}

.animate-slideOut {
    animation: slideOut 0.3s ease forwards;
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease forwards;
}

.animate-fadeOut {
    animation: fadeOut 0.5s ease forwards;
}

/* scrollbars */

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #e7e5e4bf; /* Tailwind stone-200/75 */
    border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #312c8540; /* Tailwind indigo-800/25 */
    border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #312c8580; /* Tailwind indigo-800/50 */
}

/* Firefox support */
.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #312c8540 #e7e5e4bf;
}
